:root {
    --primary-font: "Lexend", sans-serif;
    --color-black: #1a1e26;
    --color-white: #ffffff;
    --color-gray: #717378;
    --color-assh: #9d9ea2;
    --color-green: #17af26;
    --color-forest: #05422c;
}
.testimonial__inner{
    padding: 64px 0 0;
}
.testimonial__title{
    margin-bottom: 32px;
    h2{
        text-transform: uppercase;
        letter-spacing: -1.5px;
    }
}
.testimonial__banner{
    background-color: var(--color-forest);
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 32px;
    h3{
        color: var(--color-white);
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.5px;
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px solid #346654;
        text-transform: uppercase;
    }
}
.testimonial__company-logo{
    width: 101px;
    margin-bottom: 32px;
}
.testimonial__banner-type{
    margin-bottom: 16px;
    p{
        color: var(--color-white);
        text-transform: uppercase;
        letter-spacing: 0px;
    }
}
.testimonial__banner-review-wrapper{
    display: flex;
    align-items: center;
    gap: 24px;
}
.testimonial__banner-star{
    width: 106px;
    padding-right: 24px;
    position: relative;
    &::after{
        content: '';
        width: 1px;
        height: 12px;
        background-color: #648A7C;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
.testimonial__banner-review-text{
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0px;
        color: #648A7C;
        em{
            font-style: normal;
            color: var(--color-white);
            margin-right: 6px;
        }
        strong{
            font-weight: 400;
            color: var(--color-white);
            margin-right: 6px;
        }
    }
}
.testimonial-card{
    padding: 24px;
    border: 1px solid #F4F4F4;
    border-radius: 16px;
    height: 100%;
}
.testimonial-card__top{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #C8C9CB;
}
.testimonial-card__client-picture{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.testimonial-card__client-name{
    width: calc(100% - 52px);
    h4{
        color: var(--color-black);
        font-weight: 400;
        font-size: 16px;
        text-transform: capitalize;
        line-height: 150%;
        letter-spacing: 0px;

    }
}
.testimonial-card__bot{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 282px);
}
.testimonial-card__client-say{
    margin-bottom: 79px;
}
.testimonial-card__star{
    width: 96px;
    margin-bottom: 16px;
}
.testimonial-card__client-text{
    p{
        font-size: 16px;
        letter-spacing: 0px;
        color: var(--color-black);
    }
}
.testimonial-card__client-say-date{
    h5{
        font-weight: 300;
        color: #9D9EA2;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0px;

    }
}
.testimonial__arrow-left,
.testimonial__arrow-right {
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1215686275);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
}
.testimonial__arrow-left img,
.testimonial__arrow-right img {
  max-width: 20px;
  max-height: 20px;
}
.testimonial__items-wrapper{
    position: relative;
}
.testimonial__arrow-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 194px;
    left: 0;
}
.testimonial__items {
    width: calc(100% + 48px);
    margin: 0 -24px;
    .slick-track{
        display: flex;
    }
    .slick-list{
        padding: 0 33px;
    }
}
.testimonial__item {
    height: auto;
    padding:0 12px;
}

@media (min-width:1024px){

.testimonial__inner{
    padding: 136px 0 0;
}
.testimonial__title{
    margin-bottom: 64px;
    h2{
        line-height: 110%;
        letter-spacing: -4px;
    }
}
.testimonial__banner{
    margin-bottom: 0;
    width: 31.58%;
    position: relative;
    z-index: 2;
}
.testimonial__content{
    display: flex;
    gap: 16px;
}
.testimonial__items-wrapper{
    width: 65.75%;
    position: relative;
    &::before{
        content: "";
        width: 300%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        background-color: var(--color-white);
        z-index: 1;
    }
}
.testimonial__item{
    padding: 0 16px;
}
.testimonial__items {
    width: 100%;
    margin: 0;
    .slick-list{
        padding: 0 0px 0 0;
        overflow: visible;
    }
}




















}